
$fontSize : 19;
@function px2rem($px){
	@return($px / $fontSize) + rem;
}
@mixin center {
	display:flex;
	justify-content:center;
	align-items:center;
}
@mixin ellipsis {
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
@mixin left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
@mixin right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}